---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Socials from "@/components/Socials.astro";
import LinkButton from "@/components/LinkButton.astro";
import Card from "@/components/Card.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import IconRss from "@/assets/icons/IconRss.svg";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import { SITE } from "@/config";
import { SOCIALS } from "@/constants";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

<Layout>
  <Header />
  <main id="main-content" data-layout="index" class="app-layout">
    <section id="hero" class:list={["pt-6 pb-6", "border-b border-border"]}>
      <h1 class="my-4 inline-block text-4xl font-bold sm:my-8 sm:text-5xl">
        你好, 朋友!
      </h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="inline-block"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <IconRss
          width={20}
          height={20}
          class="scale-125 stroke-accent stroke-3 rtl:-rotate-90"
        />
        <span class="sr-only">RSS Feed</span>
      </a>

      <p>
        击水飞舟 -
        一个在职场摸爬滚打十余年的程序员。曾以为技术过硬就能一路坦途，后来才懂职场不只有0和1，还有躲不开的<b
          >弯弯绕绕</b
        >。被师傅带进门的欣喜,被小人绊脚的委屈、深夜研究技术的平静、攻克难题时的狂喜，都是我走过的路。
        <br>开这个博客:<br /><b>一是</b
        >想把压箱底的技术经验攒下来，帮后来人少走弯路；<br /><b>二是</b
        >想找个地方，说说程序员职场里那些没人明说的真心话, 怀念下引路人(伯乐),
        扯下小人的淡; <br />
        偶尔也会写写生活里的小确幸，给紧绷的日子松松绑。 如果你也是技术人，或正在职场里摸爬滚打，欢迎常来坐坐，咱们一起击水前行。
      </p>
      
      {
        // only display if at least one social link is enabled
        SOCIALS.length > 0 && (
          <div class="mt-4 flex max-sm:flex-col sm:items-center">
            <div class="me-2 mb-1 whitespace-nowrap sm:mb-0">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    {
      featuredPosts.length > 0 && (
        <section
          id="featured"
          class:list={[
            "pt-12 pb-6",
            { "border-b border-border": recentPosts.length > 0 },
          ]}
        >
          <h2 class="text-2xl font-semibold tracking-wide">置顶</h2>
          <ul>
            {featuredPosts.map(data => (
              <Card variant="h3" {...data} />
            ))}
          </ul>
        </section>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts" class="pt-6 pb-6">
          <h2 class="text-2xl font-semibold tracking-wide">最近</h2>
          <ul>
            {recentPosts.map(
              (data, index) =>
                index < SITE.postPerIndex && <Card variant="h3" {...data} />
            )}
          </ul>
        </section>
      )
    }

    <div class="my-2 text-center">
      <LinkButton href="/posts/">
        All Posts
        <IconArrowRight class="inline-block rtl:-rotate-180" />
      </LinkButton>
    </div>
  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>
