---
// src/components/ViewCounter.astro
import { getAndIncrementViews } from "@db/db";

interface Props {
  slug: string;
}

const { slug } = Astro.props;

console.log("传过来slug是什么？:", slug);

// 在服务端渲染时获取阅读数
let views = 0;
try {
  views = await getAndIncrementViews(slug);
} catch (error) {
  console.error("Failed to get views:", error);
}
---

<span style="text-sm text-gray-500 dark:text-gray-400" data-slug={slug}>
  {views} 次阅读
</span>
